.banner {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/louis-hansel-OgDrj7Q8EAw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.head {
    color: rgb(253, 249, 249);
    text-align: center;
    padding-top: 15%;
}

.container1 {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 10px;

}

.left {
    width: 50%;

}

.img {
    position: relative;
    left: 10%;
    top: 20%;
}

.right {
    width: 50%;
    margin: 10px;
    padding: 15px;

}

.right h2 {
    text-align: center;
    color: rgba(7, 37, 65);
    font-weight: bold;
}

.field {
    margin-top: 5%;
    color: black;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(230, 230, 230, 0.9);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    display: flex;
    outline: none;
    border: 2px solid rgb(0, 0, 0, 0);
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: rgb(230, 230, 230, 0.9);
    border: 2px solid rgba(7, 37, 65, 0.5);
}

.area {
    height: 200px;
    width: 100%;
}

.btn1 {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgb(6, 40, 61);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.container-box {
    display: flex;
    width: 100%;
    padding: 10px;
}

.card-box {
    background-color:#e1dfdf;
    padding: 10px;
    margin: 10px;
    width: 32%;
    justify-content: center;
    margin-bottom: 10%;
  

}

.link {
    text-decoration: none;
}

.box {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: #1363DF;
    border-radius: 100px;

}

@media only screen and (max-width: 700px) {
    .container-box {
        display: block;

    }

    .card-box {

        width: 100%;
        margin: 0%;
  margin-top: 5%;
    }

    .container1 {
        display: block;


    }

    .left {
        width: 100%;

    }

    .right {
        width: 100%;
        margin: 0%;
    }
}