
.header1{
    top: 0; left: 0; right: 0;
    padding:0px 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-transform: none; 
}
.logo span{
    color: aqua;
    font-weight: bolder;
}
.header1 .navbar ul{
list-style:none ;
margin-bottom: 0%;
}
.header1 .navbar ul li{
    position: relative;
    float:left;
    margin: 10px;
}
.header1 .navbar ul li a{
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    color: white;
    display: block; 
    font-weight: bold;

}
.header1 .navbar ul li a:hover{
    background-color:aqua;
    border-radius: 2px; ;
}
.submenu{
    position:absolute;
    left: 0%;
    width: 200px;
    background-color: rgba(48, 48, 48, 0.123);
    list-style: none;
    display: none; 
    margin-left: 0%;
    padding: 0%;
}
.submenu-link {
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.11);

}
.header1 .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
    font-size: 20px;
    color: black;
}